{% extends 'base.html' %}
{% block title %}
Commandes en cours
{% endblock %}

{% block content %}
{% for commande in commandes %}
    <p>
        Titre: {{ commande.isbn_livre.titre }} |
        Etudiant: {{ commande.matricule.nom }} {{ commande.matricule.prenoms }} |
        Date de Debut: {{ commande.date_debut }} |
        Date de Fin: {{ commande.date_fin }} |
        Etat Livre: {{ commande.emprunt_en_cours }} |
    </p>
    <form method="post" action="{% url 'voir-commande' commande.matricule_id %}">
        Action: <button type="submit">Livre Rendu</button>
        {% csrf_token %}
        <input type="hidden" name="pk" value="{{ commande.matricule_id }}">

    </form>

{% endfor %}

{% endblock %}
