{% extends 'base.html' %}
{% block title %}
Réserver un livre
{% endblock %}
{% block content %}
    <h3>Réserver un livre</h3>
    {% for message in messages %}
        <p style="color:orangered">{{ message }}</p>
    {% endfor %}

    <form method="post">
        {% csrf_token %}
    <label for="isbn_livre">Livre</label>
        <select name="isbn_livre" id="isbn_livre">
            {% for livre in livres %}
                <option value="{{ livre.isbn }}">{{ livre }}</option>
            {% endfor %}

        </select>
        {% for field in form %}
            <p>{{ field.label }}: {{ field }}</p>
            {% for error in field.errors %}
                <small style="color:darkred">{{ error }}</small>
            {% endfor %}

        {% endfor %}

        <button type="submit">Ajouter Livre</button>
    </form>

{% endblock %}

