{% extends 'base.html' %}
{% block title %}
Accueil
{% endblock %}
{% block special %}
<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-12 col-lg-12 col-xl-5">

          {% for message in messages %}
                <p style="color:orangered">{{ message }}</p>
            {% endfor %}
    {% if not user.is_authenticated %}
    <div class="" style="color: white; text-align: center">
        <h3>Bienvenue!</h3>
        <h6 class="">Bienvenue sur la bibliothèque de l'International Data Science Institute!</h6>
        <p class="lead">
            Pour pouvoir réserver un livre, et le récupérer à l'institut, il va vous falloir vous inscrire avec
            votre mail INPHB et choisir réservation sur la navigation. Notez que vous ne pourrai que réserver
            un seul livre à la fois.
        </p>
    </div>
    {% else %}
        {% if user.is_staff %}
            <div class="text-white" style="text-align: center">
                <h1 class="lead">Bienvenue!</h1>
            </div>
        {% else %}
            <div class="text-white" style="text-align: center">
                <h3>Bienvenue!</h3>
                <h6 class="">Reservez un livre!!</h6>
                <p class="lead">
                    Réservez un livre en choisissant « Réserver un livre » dans la barre de navigation et passer
                    le récupérer à l’institut. Notez que vous ne pourrai pas réserver de livre tant que vous aurai
                    un emprunt en cours.
                </p>
            </div>
        {% endif %}

    {% endif %}

    </div>
  </div>
</section>

{% endblock %}
{% block content %}

{% endblock %}
