{% extends 'base.html' %}
{% block title %}
Accueil
{% endblock %}

{% block content %}
{% for message in messages %}
    <p style="color:orangered">{{ message }}</p>
{% endfor %}

{% if user.is_authenticated %}
    <div class="alert alert-success" role="alert">
        <h3>Bienvenue {{ user.nom }}!</h3>
        <a href="{% url 'logout' %}">Deconnexion ?</a>
    </div>
{% else %}
    <div class="alert alert-success" role="alert">
        <h3>Bienvenue sur votre Bibliothèque IDSI!</h3>
        <a href="{% url 'register' %}">Inscription</a>
        <a href="{% url 'login' %}">Connexion</a>
    </div>
{% endif %}
{% endblock %}
